# 注意：最後1行空行
# 一覧を表示しない設定
Options -Indexes

# basic認証
<Files ~ "(login.php|signup.php|reset-password.php)">
AuthType Basic
AuthName "ユーザー名とパスワードを入力してください"
AuthUserFile C:\MAMP\htdocs\TsukubaUniversityNews\.htpasswd
# AuthGroupFile /dev/null
require valid-user
</Files>

# ブラウザからの閲覧を拒否する設定
<Files ~ ".(gitignore|htaccess|htpasswd|env)$">
    deny from all
</Files>
<Files ~ "(vendor|config|image)$">
    deny from all
</Files>

# 文字化け防止
php_flag mbstring.encoding_translation off
php_value default_charset "UTF-8"
